<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">
                liste of employs
            </span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/creat-employ"> ADD </button>
            <table class="table table-striped table-hover mt-5">
                <thead>
                  <tr>
                    <th>number</th>
                    <th>name</th>
                    <th>reference</th>
                    <th>salaire</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">rajae</td>
                    <td>farhane</td>
                    <td>2050</td>
                    <td>1774</td>
                    <td>
                        <i class="fas fa-edit fa-lg text-info mr-4" ></i>
                        <i class="fas fa-trash-alt fa-lg text-danger mr-4"></i>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row">rajae</td>
                    <td>farhane</td>
                    <td>2050</td>
                    <td>1774</td>
                    <td>
                        <i class="fas fa-edit fa-lg text-info mr-4" ></i>
                        <i class="fas fa-trash-alt fa-lg text-danger mr-4"></i>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row">rajae</td>
                    <td>farhane</td>
                    <td>2050</td>
                    <td>1774</td>
                    <td>
                        <i class="fas fa-edit fa-lg text-info mr-4" ></i>
                        <i class="fas fa-trash-alt fa-lg text-danger mr-4"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
              
              <ul>
                <li class="text" *ngFor="let item of items | async">
                  {{item.name}}
                </li>
              </ul>
        </div>
    </div>
</div>
