<div class="container">
<div class="row text-center">
    <div class="col-lg-6 offset-lg-3 mt-5">
        <div class="card text-center">
            <div class="card-body">
              <h3> creat employ</h3>
              <form>
                  <div class="row">
                      <div class="col">
                          <input type="text" class="form-control form-control-lg" placeholder="number">
                      </div>
                      <div class="col">
                        <input type="text" class="form-control form-control-lg" placeholder="id">
                      </div>
                    </div>
                      <input type="text" class="form-control form-control-lg mt-3" placeholder="reference">
                      <input type="text" class="form-control form-control-lg mt-3" placeholder="salair">
                    <div class="mt-3">
                        <button type="text" class="btn btn-secondary btn-lg " routerLink="/list-employ">Annuler</button>
                        <button type="submit" class="btn btn-dark btn-lg annuler" > Add</button>
                    </div>
              </form>
            </div>
        </div>
    </div>
</div>
</div>